<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="center responsive-img">
      <%= image_tag(@article.image, class: "responsive-img") %>
    </div>
    <h2 class="center"><%= @article.title %></h2>
    <p class="center"><%= link_to 'Back to Articles', articles_path, class: "btn waves-effect waves-light blue" %></p>
    <section class="article-content flow-text">
      <%= @article.content.html_safe %>
    </section>
  </div>
</div>


