<footer class="page-footer amber">
  <div class="container">
    <div class="row">
      
      <!--First Column Footer-->
      <div class="col l3 offset-l2 s12 center">
        <ul>
          <li><%= link_to "Articles", '#', class: "btn waves-effect waves-light amber darken-4 white-text" %></li>
          <li><%= link_to "Learn", '#', class: "btn waves-effect waves-light amber darken-4 white-text" %></li>
          <li><%= link_to "Prepare", '#', class: "btn waves-effect waves-light amber darken-4 white-text" %></li>
          <li><%= link_to "Do", '#', class: "btn waves-effect waves-light amber darken-4 white-text" %></li>
        </ul>
      </div>
      
      <!--Second Column Footer-->
      <div class="col l2 offset-l2 s12 center social-home">
        <!--Facebook Link-->
        <%= link_to '#' do %>
          <i class="fa fa-facebook fa-2x btn-floating btn-large waves-effect waves-light black"></i>
        <% end %>
        
        <!--Pipe Separator-->
         | 
        
        <!--Linkedin Link-->
        <%= link_to '#' do %>
          <i class="fa fa-linkedin fa-2x btn-floating btn-large waves-effect waves-light black"></i>
        <% end %>
      </div>
      
    </div>
  </div>
  
  <div class="footer-copyright amber darken-4 center">
    <div class="container">
      Copyright &copy; 2016. Made by <%= link_to "Kelsonic", "http://www.kelsonic.io", class: "black-text" %>.
    </div>
  </div>
  
</footer>