<nav>
  <div class="nav-wrapper amber darken-2">
    <div class="brand-logo center">
      <%= link_to "How 2 Bee", root_path, class: "logo-text" %>
      <%= link_to image_tag("LogoIcon.png", class: "logo-icon"), root_path %>
    </div>
    <a class="button-collapse" data-activates="mobile-demo" href="#"><i class="fa fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li class="user-nav">Welcome <span class="black-text"><%= current_user.username %></span>
        <%= " | Admin" if current_user.admin? %></li>
      <% end %>
      <li><%= link_to "Articles", articles_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
    <ul id="mobile-demo" class="side-nav" style="left: -250px;">
      <% if current_user %>
        <li>Welcome <span class="black-text"><%= current_user.username %></span>
        <%= " | Admin" if current_user.admin? %></li>
      <% end %>
      <li><%= link_to "Articles", articles_path %></li>
    </ul>
  </div>
</nav>