<nav>
  <div class="nav-wrapper amber darken-2">
    <div class="brand-logo center">
      <%= link_to "How 2 Bee", root_path, class: "logo-text" %>
      <%= link_to image_tag("LogoIcon.png", class: "logo-icon"), root_path %>
    </div>
    <a class="button-collapse" data-activates="mobile-demo" href="#"><i class="fa fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "All Articles", '#' %></li>
      <li><%= link_to "Learn", '#' %></li>
      <li><%= link_to "Prepare", '#' %></li>
      <li><%= link_to "Do", '#' %></li>
    </ul>
    <ul id="mobile-demo" class="side-nav" style="left: -250px;">
      <li><%= link_to "All Articles", '#' %></li>
      <li><%= link_to "Learn about Beekeeping", '#' %></li>
      <li><%= link_to "Prepare for Beekeeping", '#' %></li>
      <li><%= link_to "Beekeeping Best Practices", '#' %></li>
    </ul>
  </div>
</nav>