<nav>
  <div class="nav-wrapper light-blue lighten-2">
    <%= link_to image_tag("Kelsonic-Logo-White-compressor.png", class: "kelsonic"), root_path, class: "brand-logo center" %>
    <a class="button-collapse" data-activates="mobile-demo" href="#"><i class="fa fa-bars"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Rails", '#' %></li>
      <li><%= link_to "Games", '#' %></li>
      <li><%= link_to "Dev Bootcamp", '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
    <ul id="mobile-demo" class="side-nav" style="left: -250px;">
      <li><%= link_to "Ruby on Rails", '#' %></li>
      <li><%= link_to "Games", '#' %></li>
      <li><%= link_to "Dev Bootcamp", '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
  </div>
</nav>