<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  
  <%= render 'layouts/nav' %>
  
  <main>
    <%= render 'layouts/notices' %>
    <%= yield %>
  </main>
  
  <%= render 'layouts/footer' %>
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <%= javascript_include_tag 'application' %>
  
</body>
</html>
